<p>Juan Lucas Souza Leite</p>
<p>&copy; 2026 - Todos os direitos reservados</p>
<div class="icones">
    <a href="https://wa.me/+351914095001" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="https://github.com/JuanLeiteDev" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://linkedin.com/in/juan-leite-7b61923ab" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="mailto:juanleite048@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
</div>