<form action="/criar" method="post" autocomplete="off" id="formulario">

    <h2>Criar nova tarefa</h2>

    <div class="campo">
        <label for="titulo">Título</label>
        <input 
            type="text" 
            name="titulo" 
            id="titulo" 
            required 
            maxlength="20" 
            placeholder="Ex: Estudar"
        >
    </div>

    <div class="campo">
        <label for="desc">Descrição</label>
        <textarea 
            name="desc" 
            id="desc" 
            maxlength="200" 
            rows="4" 
            placeholder="Descreva a tarefa"
        ></textarea>
    </div>

    <div class="campo">
        <label for="cat">Categoria</label>
        <input 
            list="categorias" 
            id="cat" 
            name="cat" 
            placeholder="Escolha ou escreva uma categoria"
        >

        <datalist id="categorias">
            <option value="Educação"></option>
            <option value="Trabalho"></option>
            <option value="Lazer"></option>
            <option value="Notas"></option>
        </datalist>
    </div>

    <div class="grupo-duplo">
        <div class="campo">
            <label for="status">Estado atual</label>
            <select name="status" id="status">
                <option value="Pendente" selected>Pendente</option>
                <option value="Atrasada">Atrasada</option>
                <option value="Concluída">Concluída</option>
            </select>
        </div>

        <div class="campo">
            <label for="limite">Data limite</label>
            <input type="date" name="limite" id="limite">
        </div>
    </div>

    <button id="botao-criar" type="submit">Criar tarefa</button>

</form>