@charset "UTF-8";

/* Baseado em mobile-first */

:root {
    --cor1: rgb(14, 13, 13);
    --cor2: rgb(166, 249, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    overflow-x: hidden;
}

/* ================= HEADER ================= */
header {
    color: var(--cor1);
    backdrop-filter: blur(1px);
    position: sticky;
    top: 0;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header > h1 {
    font-size: 1.4rem;
}

.menu-botao {
    font-size: 1.1rem;
    border: none;
    background: transparent;
    padding: 10px 10px;
    cursor: pointer;
}

.preto {
    color: black;
}

/* ============= BARRA LATERAL ============ */
aside {
    padding: 10px 30px;
    border-left: 1px solid white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    background-color: var(--cor1);
    z-index: 1000;
    transition: all 300ms ease-in-out;
}

aside > div {
    padding: 6px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.branco {
    color: white;
}

menu {
    width: 100%;
}

menu > div.bloco-listar {
    margin-top: 10px;
    border-radius: 5px;
}

menu > div.bloco-listar > input {
    width: 85%;
    margin-left: 5px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

menu > ul {
    list-style-type: none;
}

menu > ul > a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

aside.oculto {
    right: -70%;
}

/* ================= MAIN ================= */
main {
    flex: 1 0 auto;
    text-align: center;
    height: 2000px;
}

/* ================= FOOTER ================= */
footer {
    padding: 20px;
    color: white;
    text-align: center;
    flex-shrink: 0;
    background-color: rgb(14, 13, 13);
}

footer > p {
    margin: 5px;
}

/* ==== ÍCONES BLOCO ==== */
div.icones > a {
    color: rgb(166, 249, 255);

}
div.icones > a > i {
    margin: 10px;
    font-size: 1.2rem;
    transition: all 100ms ease;
}

div.icones > a > i:hover {
    transform: scale(120%);
    filter: drop-shadow(0 0 3px rgba(166, 249, 255, 0.2));
}